.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  .button{
    background: rgb(255, 255, 255);
    background-color: #7085e0;
    position: absolute; right: 0;
  }
  .button-row { 
      display: block;
      width: 100%;
      max-width: 200px;
      appearance: none;
      border: none;
      outline: none;
      background: none;
    
      background-color: #ab21e2;
      color: #FFF;
      margin: 15px auto;
    
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 700;
    }